@import "../imports";

/* ==========================================================================
   Proper box-sizing model
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==========================================================================
   Document
   ========================================================================== */

/*
   1. Stretch <html> stretch to fill our screen height
   2. Make children of html (body) occupy at least 100% of the screen
   3. Viewport is scalable and occupies at least 320px (iPhone SE)
*/

html {
    min-width: calc(var(--viewport-min-width) * 62.5%);
    height: 0; /* 3 */
    min-height: 100%; /* 1 */
    display: flex; /* 2 */
    flex-direction: column; /* 2 */
}

/* ==========================================================================
   Body & #root
   ========================================================================== */

/*
   1. Force scroll always to prevent scrollbars to appear/disappear based on the page contents
   2. Make sure that we occupy 100% of our parent and allow our child elements to do the same
   3. Disable rubber band scrolling
*/

body {
    overflow-y: scroll; /* 1 */
    display: flex; /* 2 */
    flex: 1 0; /* 2 */
    flex-direction: column; /* 2 */

    /* Uncomment to disable rubber band scrolling */
    /* overscroll-behavior: none; */ /* 3 */
}

#__next {
    display: flex; /* 2 */
    flex: 1 0; /* 2 */
    flex-direction: column; /* 2 */
}
