@import "../imports";

/* ==========================================================================
   Typography Defaults
   ========================================================================== */

html {
    font-size: 62.5%; /* 62.5% so that all the REM measurements re based on 10px sizing */
}

body {
    @mixin typography-body-1;
    @mixin text-smooth;
    @mixin text-wrap;

    color: var(--color-black);
    -webkit-tap-highlight-color: transparent;  /* Do not show a highlight (rectangle around the link) while tapping it */
}

/* ==========================================================================
  Anchors
  ========================================================================== */

a {
    color: inherit;
}

/* ==========================================================================
  Headings
  ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    @mixin typography-h1;
}

h2 {
    @mixin typography-h2;
}

h3 {
    @mixin typography-h3;
}

h4 {
    @mixin typography-h4;
}

h5 {
    @mixin typography-h5;
}

h6 {
    @mixin typography-h6;
}
