@import "../imports";

/* ==========================================================================
   Typography Defaults
   ========================================================================== */

html {
    font-size: 62.5%; /* 62.5% so that all the REM measurements re based on 10px sizing */
}

body {
    @mixin typography-body;
    @mixin text-smooth;

    color: var(--color-black);
    overflow-wrap: break-word; /* Break long words, while keeping them together if possible (fallback) */
    overflow-wrap: anywhere;  /* Break long words, while keeping them together if possible */
    -webkit-tap-highlight-color: transparent;  /* Do not show a highlight (rectangle around the link) while tapping it */
}

/* ==========================================================================
  Headings
  ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    @mixin typography-h1;
}

h2 {
    @mixin typography-h2;
}

h3 {
    @mixin typography-h3;
}

h4 {
    @mixin typography-h4;
}

h5 {
    @mixin typography-h5;
}
