/* ================================================================================
   Fonts
   If you are going to include custom fonts please use the /www/shared/media/fonts
   directory.
   ================================================================================ */

@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    font-style: normal;
    src:
        url("../../media/fonts/montserrat/montserrat-regular.woff") format("woff"),
        url("../../media/fonts/montserrat/montserrat-regular.woff2") format("woff2");
}
