@import "../../styles/imports";

.mainLayout {
    min-height: 100%;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    background-color: var(--color-white);

    & .header {
        flex: 0 0 auto;
    }

    & .content {
        display: flex;
        flex: 1 0;
        flex-direction: column;

        & .page {
            flex: 1 0;
        }

        & .footer {
            flex: 0 0 auto;
        }
    }
}
