@import "../../styles/imports";

.cookieBanner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;
    z-index: calc(var(--z-index-cookie-banner) + 1);
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid;
    background-color: var(--color-white);
    font-size: 1.4rem;

    & .buttons {
        display: flex;
        flex: 0 0 auto;

        & button {
            margin-left: 1.5rem;
        }
    }
}
