/* stylelint-disable max-line-length */

@import "./custom-medias";

/* ==========================================================================
   Colors
   ========================================================================== */

:root {
    --color-white: #fff;
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
    --font-montserrat: "Montserrat";
    --font-family: var(--font-montserrat), sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
}

/* ==========================================================================
   Z-index
   ========================================================================== */

:root {
    --z-index-base: 0;
}

/* ==========================================================================
   Transition / Animations timing
   ========================================================================== */

:root {
    --duration-fast: 0.15s;
    --duration-standard: 0.3s;
    --duration-long: 0.4s;
}
