@import "./custom-medias";

/* ==========================================================================
   Colors
   ========================================================================== */

:root {
    --color-white: #fff;
    --color-black: #000;
}

/* ==========================================================================
   Z-index
   ========================================================================== */

:root {
    --z-index-base: 0;
}

/* ==========================================================================
   Transitions / Animations timings
   ========================================================================== */

:root {
    --duration-fast: 0.15s;
    --duration-standard: 0.3s;
    --duration-long: 0.4s;
}
