@import "../../styles/imports";

:root {
    --debug-color: red;
    --debug-font-weight: bold;
}

.debug {
    @mixin position fixed, 0, 0, 0, 0;
    min-width: var(--viewport-min-width);
    z-index: calc(var(--z-index-base) + 10000);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    pointer-events: none;

    & .container {
        height: 100%;
    }

    &.visible {
        visibility: visible;
    }

    & .row {
        height: 100%;
    }

    & .col {
        height: 100%;
    }

    & .colContent {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: color(var(--debug-color) a(0.15));
        color: var(--debug-color);
        font-weight: var(--debug-font-weight);
    }

    & .currentBreakpoint::after {
        content: "xxs";
        @mixin position absolute, null, null, 2rem, 2rem;
        color: var(--debug-color);
        font-weight: var(--debug-font-weight);
    }

    @media (--gte-xs) {
        & .currentBreakpoint::after {
            content: "xs";
        }
    }

    @media (--gte-sm) {
        & .currentBreakpoint::after {
            content: "sm";
        }
    }

    @media (--gte-md) {
        & .currentBreakpoint::after {
            content: "md";
        }
    }

    @media (--gte-lg) {
        & .currentBreakpoint::after {
            content: "lg";
        }
    }

    @media (--gte-xl) {
        & .currentBreakpoint::after {
            content: "xl";
        }
    }

    @media (--gte-xxl) {
        & .currentBreakpoint::after {
            content: "xxl";
        }
    }
}
