@import "../styles/custom-medias";

/* ==========================================================================
   Colors
   ========================================================================== */

:root {
    --color-white: #fff;
}

/* ==========================================================================
   Sizes
   ========================================================================== */

:root {
    --home-width: 100vw;
    --home-height: 100vh;
}
