@import "./custom-medias";

/* ==========================================================================
   Colors
   ========================================================================== */

:root {
    --color-white: #fff;
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
    --font-montserrat: "Montserrat";
    --font-family: var(--font-montserrat), sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
}

/* ==========================================================================
   Sizes
   ========================================================================== */

:root {
    --home-width: 100vw;
    --home-height: 100vh;
}
