:root {
    --ifm-color-primary: #a0a4b8;
}

html,
body,
#__docusaurus {
    min-height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.navbar .navbar__items {
    flex: 0 1 auto;
}
