/* ==========================================================================
   Infima theme variables
   ========================================================================== */

:root {
    --ifm-font-base-color: #180d2d; /* Darkest variant of Dark Blue - #221240 */
    --ifm-color-primary: #2932d3; /* Vivid Blue */
    --ifm-color-primary-dark: #252dbe;
    --ifm-color-primary-darker: #232ab3;
    --ifm-color-primary-darkest: #1d2394;
    --ifm-color-primary-light: #3c44d9;
    --ifm-color-primary-lighter: #474edb;
    --ifm-color-primary-lightest: #666de1;
    --ifm-code-font-size: 95%;
    --ifm-code-border-radius: 3px;
    --ifm-code-background: rgba(34, 18, 64, 0.05);
}

/* ==========================================================================
   Code block tweaks
   ========================================================================== */

code {
    --ifm-code-font-size: 85%;
}

a > code {
    color: inherit;
}

/* ==========================================================================
   Navbar tweaks
   ========================================================================== */

.navbar .navbar__inner {
    flex-wrap: nowrap;
}

.navbar .navbar__items {
    max-width: 50%;
    flex: 1 1 auto;
}

.navbar .navbar__inner .navbar__brand,
.navbar .navbar-sidebar .navbar__brand {
    max-width: 100%;
    flex: 1 1 auto;
}

.navbar .navbar__inner .navbar__brand strong,
.navbar .navbar-sidebar .navbar__brand strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 996px) {
    .navbar .navbar__items:not(.navbar__items--right) {
        max-width: calc(100% - 160px);
    }

    .navbar .navbar__items--right {
        max-width: 160px;
    }

    .navbar .navbar__inner .navbar__brand {
        max-width: calc(100% - 33px);
    }
}

@media (max-width: 360px) {
    .navbar .navbar__items:not(.navbar__items--right) {
        max-width: calc(100% - 38px);
    }

    .navbar .navbar__items--right {
        max-width: 38px;
    }
}
