@import "../../styles/imports/variables";
@import "../../styles/imports/mixins";

.splashScreen,
.loaded {
    --progress-bar-transition-duration: 200ms; /* Keep this value slightly lower than the `progressInterval` defined in the JS */
}

.splashScreen {
    --color-background: #221240;
    --color-text: #fff;
    --color-progress-bar: #f64f51;

    @mixin position fixed, 0, 0, 0, 0;

    z-index: var(--z-index-splash-screen);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-text);

    & .progressBar {
        @mixin position absolute, 0, 0, null, 0;

        height: 0.4rem;
        transform: scaleX(0);
        transform-origin: left center;
        background-color: var(--color-progress-bar);
        pointer-events: none;
        transition:
            transform var(--progress-bar-transition-duration) linear,
            opacity var(--duration-standard) ease 2.5s;
    }

    &.loaded {
        visibility: hidden;
        opacity: 0;
        transition:
            opacity var(--duration-standard) ease var(--progress-bar-transition-duration),
            visibility 0s linear calc(var(--duration-standard) + var(--progress-bar-transition-duration));
    }

    &.loading {
        &.zero .progressBar {
            opacity: 0;
            transition: none;
        }
    }
}
