@import "../../styles/imports/variables";
@import "../../styles/imports/mixins";

:root {
    --color-background: #221240;
    --color-text: #fff;
    --color-progress-bar: #f64f51;
}

.splashScreen {
    @mixin position fixed, 0, 0, 0, 0;
    z-index: var(--z-index-max);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: opacity var(--duration-standard) ease var(--duration-standard), visibility 0s linear calc(var(--duration-standard) * 2);

    &.loaded {
        visibility: hidden;
        opacity: 0;
    }

    & .progressBar {
        @mixin position absolute, 0, 0, null, 0;
        height: 0.4rem;
        transform: scaleX(0);
        transform-origin: left center;
        opacity: 0;
        background-color: var(--color-progress-bar);
        transition: transform 200ms linear, opacity var(--duration-standard) ease 2.5s;
    }
}
