name: Deploy on Zeit Now

on:
  push:
    branches:
      - master
    paths-ignore:
      - docusaurus/**/*
  pull_request:
    paths-ignore:
      - docusaurus/**/*

env:
  NOW_ORG_ID: team_p8EekuXu9HkFUEY7yLOeujBS
  NOW_PROJECT_ID: QmYUpNNm3Aw2W2W59sdNwKdcNduZXXQGhNgc4crdtASxNZ
  ZEIT_TOKEN: ${{ secrets.ZEIT_TOKEN }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set environment variables (master)
        if: github.ref == 'refs/heads/master'
        env:
          SITE_URL: https://next-with.moxy.tech
        run: |
          echo "::set-env name=SITE_URL::$SITE_URL"

      - name: Set environment variables (PR)
        if: github.event_name == 'pull_request'
        env:
          SITE_URL: https://next-with-moxy-pr-${{ github.event.number }}.now.sh
        run: |
          echo "::set-env name=SITE_URL::$SITE_URL"

      - name: Comment URL
        if: github.event_name == 'pull_request' && github.event.action == 'opened'
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          msg: |
            This pull-request can be previewed at ${{ env.SITE_URL }}.
            Please check the `Zeit Now` status below to see when it's ready.

      - name: Set deployment status
        uses: pbrandone/create-status-action@master
        with:
          token: ${{ github.token }}
          state: pending
          context: Zeit Now
          description: Deploying to Zeit Now...

      - name: Deploy
        run: |
          npx now \
            -t $ZEIT_TOKEN \
            --build-env SITE_URL=$SITE_URL \
            > .now-url

            echo "::set-env name=NOW_URL::$(cat .now-url)"

      - name: Add deployment alias
        if: github.event_name == 'pull_request'
        run: |
          npx now alias \
            -t $ZEIT_TOKEN \
            $NOW_URL \
            $SITE_URL

      - name: Set success deployment status
        if: success()
        uses: pbrandone/create-status-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          state: success
          context: Zeit Now
          description: Zeit Now deployment ready!
          url: ${{ env.SITE_URL }}

      - name: Set failed deployment status
        if: failure()
        uses: pbrandone/create-status-action@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          state: failure
          context: Zeit Now
          description: Zeit Now deployment failed
